/* ---- reset ---- */

@font-face {
    src: url("./fonts/AwakenningPersonalUse-DOLPD.ttf");
    font-family: "AwakenningPersonalUse-DOLPD";
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background-color: transparent;
    border-color: white;
    font-weight: bold;
    color: white;
}

.btnX {
    background-color: white;
    font-weight: bold;
    color: navy;
}

.btn:hover {
    background-color: white;
    color: black;
    border-color: white;
    font-weight: bold;
}

#desc {
    background-color: black;
    opacity: 0.5;
    padding: 2rem;
    border-radius: 15px;
}

#astronaut {
    animation: astronaut 8s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#main {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: white;
}

@-webkit-keyframes astronaut {
    0% {
        -webkit-transform: scale(1) translateY(-200px);
    }
    50% {
        -webkit-transform: scale(1) translateY(0);
    }
    100% {
        -webkit-transform: scale(1) translateY(-200px);
    }
}

body {
    margin: 0;
    background-color: #17182f;
    overflow-x: hidden;
}

canvas {
    display: block;
    /* vertical-align: bottom; */
}

#part {
    width: 100vw;
    height: 100vh;
}


/* ---- particles.js container ---- */

#font {
    font-family: "AwakenningPersonalUse-DOLPD";
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
}

table {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu';
    /*border-collapse: collapse;*/
    border-spacing: 0;
    background-color: #333333;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

th {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.5);
    background-color: #292929;
    letter-spacing: 1px;
}

td {
    width: 14.285%;
    transition: all 0.3s;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    padding: 1.5% 1.5% 5%;
    vertical-align: initial;
    padding: 1.5% 0;
    height: 75px;
}

.day:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.today {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25) !important;
}

span.number {
    margin-left: 10%
}

span.event {
    height: 4px;
    background-color: rgba(0, 0, 0, .3);
    display: block;
    margin: 5px 10%;
    border-radius: 2px;
    background-color: #91c33b;
}

span.event-multiday {
    margin: 5px -2px;
    border-radius: 0;
}

span.event-multiday-start {
    margin-right: -4px;
}

span.event-multiday-finish {
    margin-left: -4px;
}

span.event-ghost {
    background-color: transparent;
}


/* Calendar */

#calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 550px;
    margin: 0 auto;
    height: 570px;
    overflow: hidden;
    float: left;
}

.header {
    height: 50px;
    width: 550px;
    background: #008D82;
    text-align: center;
    position: relative;
    z-index: 100;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
}

.left,
.right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
}

.left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #4B4453 transparent transparent;
    left: 20px;
}

.right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #4B4453;
    right: 20px;
}

.month {
    /*overflow: hidden;*/
    opacity: 0;
}

.month.new {
    -webkit-animation: fadeIn 1s ease-out;
    opacity: 1;
}

.month.in.next {
    -webkit-animation: moveFromTopFadeMonth .4s ease-out;
    -moz-animation: moveFromTopFadeMonth .4s ease-out;
    animation: moveFromTopFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.next {
    -webkit-animation: moveToTopFadeMonth .4s ease-in;
    -moz-animation: moveToTopFadeMonth .4s ease-in;
    animation: moveToTopFadeMonth .4s ease-in;
    opacity: 1;
}

.month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
    -moz-animation: moveFromBottomFadeMonth .4s ease-out;
    animation: moveFromBottomFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.prev {
    -webkit-animation: moveToBottomFadeMonth .4s ease-in;
    -moz-animation: moveToBottomFadeMonth .4s ease-in;
    animation: moveToBottomFadeMonth .4s ease-in;
    opacity: 1;
}

.week {
    background: #B0A8B9;
}

.day {
    display: inline-block;
    width: 78px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background: #296073;
    position: relative;
    z-index: 100;
}

.day.other {
    color: rgba(255, 255, 255, .3);
}

.day.today {
    color: rgba(156, 202, 235, 1);
}

.day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: .7px;
}

.day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
}

.day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
}

.day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 7px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
}

.blue {
    background: rgba(156, 202, 235, 1);
}

.orange {
    background: rgba(247, 167, 0, 1);
}

.green {
    background: rgba(153, 198, 109, 1);
}

.yellow {
    background: rgba(249, 233, 0, 1);
}

.details {
    position: relative;
    width: 550px;
    height: 75px;
    background: rgba(164, 164, 164, 1);
    margin-top: 5px;
    border-radius: 4px;
}

.details.in {
    -webkit-animation: moveFromTopFade .5s ease both;
    -moz-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
}

.details.out {
    -webkit-animation: moveToTopFade .5s ease both;
    -moz-animation: moveToTopFade .5s ease both;
    animation: moveToTopFade .5s ease both;
}

.arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
    transition: all 0.7s ease;
}

.events {
    height: 75px;
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.events.in {
    -webkit-animation: fadeIn .3s ease both;
    -moz-animation: fadeIn .3s ease both;
    animation: fadeIn .3s ease both;
}

.events.in {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.details.out .events {
    -webkit-animation: fadeOutShrink .4s ease both;
    -moz-animation: fadeOutShink .4s ease both;
    animation: fadeOutShink .4s ease both;
}

.events.out {
    -webkit-animation: fadeOut .3s ease both;
    -moz-animation: fadeOut .3s ease both;
    animation: fadeOut .3s ease both;
}

.event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 2px 16px;
    vertical-align: top;
}

.event.empty {
    color: #eee;
}

.event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
}

.event span {
    display: inline-block;
    padding: 0 0 0 7px;
}

.legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgb(236, 38, 38);
    line-height: 30px;
}

.entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
}

.entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
}

.entry.blue:after {
    background: rgba(156, 202, 235, 1);
}

.entry.orange:after {
    background: rgba(247, 167, 0, 1);
}

.entry.green:after {
    background: rgba(153, 198, 109, 1);
}

.entry.yellow:after {
    background: rgba(249, 233, 0, 1);
}


/* Animations are cool!  */

@-webkit-keyframes moveFromTopFade {
    from {
        opacity: .3;
        height: 0px;
        margin-top: 0px;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFade {
    to {
        opacity: .3;
        height: 0px;
        margin-top: 0px;
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveToTopFade {
    to {
        height: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveToTopFade {
    to {
        height: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@-webkit-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@-webkit-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@-webkit-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@-moz-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}


/* Clock */

.clockdate-wrapper {
    background-color: #333;
    padding: 25px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#clock {
    background-color: #333;
    font-family: sans-serif;
    font-size: 50px;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

#clock span {
    color: #888;
    text-shadow: 0px 0px 1px #333;
    font-size: 40px;
    position: relative;
    top: -5px;
    left: 10px;
}

#date {
    letter-spacing: 3px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
}